<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.Listeners.CustomListeners"></listener>
</listeners>
  <test  name="HomeScreenTest">
    <classes>
    
    
    <class name="com.testcases.SelendroidHomeScreenTest"/>
    </classes>
    
  </test> <!-- Test -->
    <test  name="WebViewTest">
    <classes>
    
    
    <class name="com.testcases.SelendroidWebViewTest"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
